bert_score
blobfile~=2.1.1
nltk~=3.8.1
numpy~=1.26.4
packaging
psutil~=6.0.0
PyYAML~=6.0.1
setuptools
spacy
torch~=1.12.1+cu116
torchmetrics~=1.4.1
tqdm~=4.66.5
transformers==4.22.2
wandb~=0.17.5
datasets~=2.20.0

pandas~=2.2.2
matplotlib~=3.9.0
tokenizers~=0.12.1